@charset "utf-8";

body {
  width: 100%;
  font-family: Helvetica , "游ゴシック", sans-serif;
  background-color: #fff6f6;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #ffc2c2;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  padding: 20px;
}
@media (max-width: 767px) {
  nav ul li {
   font-size: 9px;
  } 
 }

nav ul li a {
  text-decoration: none;
  color: #bb2525;
  font-size: 1.3em;
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
nav ul li a:hover {
  opacity: 0.7;
}


.about-store h4 {
  font-size: 17px;
  background: url(../images/pan-icon.png) no-repeat;
  background-size: 65px;
  background-position: center;
  padding: 23px;
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: #bb2525;
}
.about-store h4:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .about-store h4 {
   font-size: 8px;
  }
 }

#topvisual {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topvisual h1 {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 2em;
  background: rgba(255, 164, 26, 0.7);
  font-weight: bold;
  font-family: 'arial unicode ms';
  letter-spacing: 0.5em;
}

#topvisual img {
  width: 100%;
  background-size: cover;
}

.modal {
  position: absolute;
  top: 20%;
  display: none;
}
.modal p {
  letter-spacing: 4px;
  font-family: 'arial unicode ms';
  padding: 20px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}

/* こだわり　*/
#kodawari {
  margin-top: 0;
  margin-bottom:  300px;
  padding-top: 100px;
  height: auto;
  width: 100%;
  line-height: 1.5em;
  background: url(../images/mugi.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
@media (max-width: 767px) {
  #kodawari {
    height: auto;
  }
  .box {
    width: 90%;
  }
  #kodawari p {
    width: 100%;
  }
}

#kodawari h2 {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  letter-spacing:  0.3em;
  text-align: center;
  font-style: oblique; 
  font-size: 2em;
  color: #964021;
  border-bottom: 2px dashed #000;
  padding-bottom: 0.5em;
}

.box {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 2em;
  width: 40%;
  min-width: 300px;
  margin: 0 auto;
}
#kodawari p {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.7em;
  color: #964021;
  text-indent: 1em;
}

/* 商品一覧 */
.title {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  text-align: center;
  font-size: 2em;
  margin: 20px;
  letter-spacing: 0.5em;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#pan-menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
}

#pan-menu dl {
  height: 400px;
  width: calc(100% / 4);
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  #pan-menu dl {
    width: calc(100% / 2);
  }
}

#pan-menu img {
  width: 100%;
  height: 40%;
}

.menu-border {
  border: 0.5px dashed #f3ad14;
  background: #fff;
  height: 100%;
}

#pan-menu dt {
  background-color: #f3ad14;
  height: 1.6em;
  text-align: center;
  padding-top: 8px;
}
#pan-menu dd {
  margin: 0 auto;
  height: 100%;
  max-width: 270px;
}
.menu-border p{
  margin: 10px;
}
.price {
  text-align: center;
}





#access {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 100px;
}
#access h2 {
    font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    text-align: center;
    font-size: 2em;
    margin-bottom: 70px;
    letter-spacing: 0.5em;
}

/* top return */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#pageTop a {
  display: block;
  z-index: 999;
  margin: 10px;
  text-decoration: none;
}

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

footer {
  background-color: #ffc2c2;
  width: 100%;
  height: 70px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  font-style: normal;
  font-size: 12px;
}